/*HERO*/
#home {
    position: relative;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    display: flex;
    background-color: #000;
}
@media (max-width: 768px) {
    #home {
       height: 100%;
    }
}
.title-hero {
    font-weight: 300;
}
@media (min-width: 1200px) {
    .title-hero {
        font-size: 73px;
    }
}
@media (max-width: 1024px) {
    .title-hero {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .title-hero {
        font-size: 45px;
    }
}
@media (max-width: 767px) {
    .box_text-hero h1 {
        /* font-size: 31px;
        line-height: 42px; */
    }
}

.img-hero {
    margin: 0;
}
@media (max-width: 767px) {
    .img-hero img {
        width: 550px;
    }
}


.btnHero{
    /* display: block; */
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    border: white;
    border-radius: 50px;
    background-color: #BE9E44;
    margin: 0 .5em;

}

.btnHero:hover{
    background-color: white;
    border-color: black;
    color: #BE9E44
}
.btnHero:focus{
    background-color: white !important;
    border-color: #BE9E44 !important;
}